.vs/
LabsTesting.sln
/LabsTesting/CompilerLabsTest
/LabsTesting/CompilerLabsTest.exe
/LabsTesting/LabsTesting.vcxproj
/LabsTesting/LabsTesting.vcxproj.filters
/LabsTesting/LabsTesting.vcxproj.user
/LabsTesting/TESTFILE.txt
/LabsTesting/souce
/LabsTesting/source
/LabsTesting/source.asm
/LabsTesting/source.bat
/LabsTesting/source.exe
/LabsTesting/source.obj
/LabsTesting/source.py
/LabsTesting/test.py
/bin-int/
/bin/
